:root {
  background-color: beige;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  height: 100vh;
  width: 40%;
  margin: 0 auto;
}

h3 {
  display: flex;
}

.App-header {
  text-align: center;
}

.title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 30px;
  color: rgb(255, 0, 0);
}